:root {
  --warna1: #e8faed;
  --warna2: white;
  --warna3: #70b883;
  --warna4: #549c67;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--warna2);
  color: var(--warna3);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* CSS Navbar Menu */

header {
  border-bottom: 2px solid var(--warna4);
}

header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: var(--warna1);
}

header .navbar .navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
}

.navbar-menu li a {
  text-decoration: none;
  color: var(--warna3);
  font-size: 1.2rem;
}

.navbar-menu li a:hover {
  color: var(--warna4);
}

/* CSS Main Tittle */

main {
  padding: 0 30px;
  position: relative;
}
.main-tittle {
  display: flex;
}

.main-tittle .tittle {
  margin: 50px auto;
  box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  padding: 20px;
  border: 2px solid var(--warna3);
}

/* CSS Card Gallery */

.cards-gallery {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "satu satu dua dua tiga tiga"
    "empat empat empat empat empat empat"
    "lima lima lima enam enam enam";
  gap: 5px;
  /* max-width: 100%; */
}

.cards-gallery .card:nth-child(1) {
  grid-column: satu;
}
.cards-gallery .card:nth-child(2) {
  grid-column: dua;
}
.cards-gallery .card:nth-child(3) {
  grid-column: tiga;
}
.cards-gallery .card:nth-child(4) {
  grid-column: empat;
}
.cards-gallery .card:nth-child(5) {
  grid-column: lima;
}
.cards-gallery .card:nth-child(6) {
  grid-column: enam;
}

.cards-gallery .card {
  position: relative;
  overflow: hidden;
  max-height: 350px;
}

.cards-gallery .card .card-image {
  width: 100%;
  transition: 0.5s;
}

.cards-gallery .card a:hover .card-image {
  transform: scale(1.2);
}

.cards-gallery .card span {
  position: absolute;
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--warna1);
  background-color: rgba(232, 252, 241, 0.4);
  z-index: 99;
}

.cards-gallery .card a:hover span {
  animation: animasiJudulPic 0.5s forwards;
}

.cards-gallery:target .card-overlay {
  width: 100%;
  height: auto;
}

.cards-gallery .card-overlay .card-tittle {
  margin: auto;
  font-size: 3rem;
  color: var(--warna2);
}

/* CSS Overlay */
.overlay {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: scroll;
  transition: 0.3s;
}

.overlay:target {
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  right: 0;
}

.overlay:target .overlay-close {
  animation: animasiClose 0.5s 0.5s forwards;
}

.overlay:target .overlay-body {
  animation: animasiBody 1s ease forwards;
}

.overlay .overlay-body {
  background-color: var(--warna1);
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80vw;
  height: auto;
}

.overlay .overlay-body .overlay-image {
  width: 400%;
}

.overlay .overlay-body .overlay-desc {
  background-color: var(--warna1);
  width: auto;
  padding: 60px 20px;
  text-align: center;
}

.overlay-body .overlay-desc .overlay-tittle {
  font-size: 1.3rem;
  padding-bottom: 30px;
  font-weight: bold;
}

.overlay-body .overlay-desc .overlay-info {
  padding-bottom: 20px;
  font-size: 1rem;
  font-weight: 100;
}

.overlay-body .overlay-desc .overlay-sosmed {
  padding-top: 40px;
}

.overlay-desc .overlay-sosmed .sosmed-link {
  display: inline-block;
  margin-right: 10px;
}

.overlay-desc .overlay-sosmed p {
  text-decoration: none;
  font-size: 0.7rem;
  color: black;
}

.overlay .overlay-close {
  position: absolute;
  right: 0;
  margin-right: 50px;
  opacity: 0;
  text-decoration: none;
  font-size: 2rem;
  z-index: 999;
  color: red;
}

/* CSS Footer */
footer {
  background-color: #ddd;
  height: 250px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-text {
  padding: 20px;
  text-align: center;

  font-size: 1rem;
  color: black;
}

/* CSS Animasi */
@keyframes animasiJudulPic {
  0% {
    opacity: 0;
    transform: translate3d(0, 2rem, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animasiClose {
  0% {
    opacity: 0;
    margin-top: -20px;
  }
  100% {
    opacity: 1;
    margin-top: 10px;
  }
}

@keyframes animasiBody {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

/* CSS Responsive */

@media screen and (max-width: 800px) {
  .overlay .overlay-body {
    flex-direction: column;
  }

  .overlay .overlay-body .overlay-image {
    width: 100%;
  }
}
